:root{
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}
.breadcrumb {
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: 4px;
    display: flex;
    text-decoration: none;
  }
  
  .breadcrumb-item:last-child {
    color: #333333;
  }
  
  .breadcrumb-item.disabled {
    color: #999999;
  }
  .breadcrumb-link{
    color: #16A317;
    font-family: Mark Pro, var(--default-font-family);
    font-size: 14px;
    text-decoration: none;
  }
  .breadcrumb-link:hover{
    color: #0B520C; 
  }
  .breadcrumb-item:visited{
    color: #16A317;
  }

.breadcrumb-item:hover,
.breadcrumb-item:hover + .breadcrumb-item:before {
  color: #0B520C; 
  cursor: pointer;
}
  .breadcrumb-item + .breadcrumb-item:before {
    content: '/';
    padding: 0 5px;
    color: #16A317;
  }

.current{
  color: #1CCC1D;
}